**/node_modules
**/.venv
**/venv
.git/
.gitignore
.github/
**/coverage
**/dist
**/.next
**/.turbo
.vscode/
.idea/
*.md
!README.md
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
.env
.env.*
